* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden; /* Menghilangkan scrollbar */
    background: black;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
}